---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Search from '../components/Search.astro';
import TutorialCard from '../components/TutorialCard.astro';
import ThemeToggle from '../components/ThemeToggle.astro';
import { getCollection } from 'astro:content';
import { tutorialConfig } from '../content/tutorials/config';

const allTutorials = await getCollection('tutorials', (entry) => 
  !entry.slug.includes('/')
);

const sortedTutorials = allTutorials.sort((a, b) => 
  tutorialConfig[a.slug].order - tutorialConfig[b.slug].order
);
---

<Layout title="Workshop Tutorials">
  <Header>
    <ThemeToggle />
  </Header>
  <main class="max-w-4xl mx-auto px-4 py-8">
    <Search />
    <div class="grid gap-6">
      {sortedTutorials.map((tutorial) => (
        <TutorialCard tutorial={tutorial} />
      ))}
    </div>
  </main>
</Layout>